
  <ul>
    <form action="/create_meetup" method="post">
      <li>
        <label for='name'>Meetup Name:</label>
        <input type="text" id="name" name="name" />
      </li>
      <li>
        <label for='location'>Location:</label>
        <input type="text" id="location" name="location" />
      </li>
      <li>
        <label for='description'>Description:</label>
        <input type="text" id="description" name="description" />
      </li>

      <li>
        <label for='start'>Start Time:</label>
        <input type="text" id="start" name="start" />
      </li>
      <li>
        <label for='end'>End Time:</label>
        <input type="text" id="end" name="end" />
      </li>


        <input style="color:black;" type="submit" value="Submit">

    </form>
  </ul>

